<input type="checkbox" id="nav-toggle" style="display: none;">
<header class="site-header">
    <div class="site-title">
        <p><a href="/">nikolay_dimitrov</a></p>
    </div>
    <nav class="main-nav">
        <ul>
            <li class="comment"># navigate</li>
            <li {% if include.active == 'home' %}class="selected"{% endif %}><a href="/">hello</a></li>
            <li {% if include.active == 'about' %}class="selected"{% endif %}><a href="/about/">about_me</a></li>
            <li {% if include.active == 'projects' %}class="selected"{% endif %}><a href="/projects/">projects</a></li>
            <li {% if include.active == 'contact' %}class="selected"{% endif %}><a href="/contact/">contact_me</a></li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-label">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-xmark"></i>
    </label>
</header>