<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="title" content="{{ site.title }} - {{ site.job_title }}">
    <meta name="description" content="Hi all, I'm {{ site.title }}, a {{ site.job_title }} from Bulgaria.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} | Developer Portfolio</title>
    <link rel="stylesheet" href="/assets/styles/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
</head>
<body>

    <div class="site {{ page.page_type }}">

        {% include header.html active=page.nav %}

        {{ content }}

        {% include footer.html %}

    </div>

</body>
</html>